/*Login*/
#containerLogin{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#areaLeftLogin{
    width: 50%;
    background-color: #390099;
    height: 100vh;
    font-size: 35px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#faixaBranca{
    width: 80%;
    height: 5vh;
    background-color: #FFF;
    margin-bottom: 20%;
}

#areaRightLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}

#areaLogin{
    background-color: #F3F3F3;
    width: 60%;
    padding-bottom: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Login end*/

/*Register*/
#containerRegister{
    display: flex;
    flex-direction: row;
    height: 140vh;
}

#areaLeftRegister{
    width: 50%;
    background-color: #390099;
    font-size: 35px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#areaRightRegister{
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: column;
}
/*Register end*/

/*Home Page*/
#containerHome{
    height: 100vh;
    width: 100%;
}
#bodyHome{
    width: 80%;
    margin: auto;
    height: 100%;
}
/*Home Page end*/